<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpectrumAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <SpectrumAnalysis.Properties.Settings>
            <setting name="ThemeName" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1200, 800</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAxis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPeaks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsIQMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value>Bars</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </SpectrumAnalysis.Properties.Settings>
    </userSettings>
</configuration>
